@page
@model RegisterModel
@{ ViewData["Title"] = "Register"; }

<section class="normal-breadcrumb set-bg" data-setbg='../../img/normal-breadcrumb.jpg'>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>Sign Up</h2>
                    <p>Welcome to our Anime Website</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="signup spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login__form">
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <br />
                        <div class="input__item">
                            <input asp-for="Input.Email" placeholder="Email address">
                            <span class="icon_mail"></span>
                        </div>
                        <div class="input__item">
                            <input asp-for="Input.UserName" placeholder="Your Name">
                            <span class="icon_profile"></span>
                        </div>
                        <div class="input__item">
                            <input asp-for="Input.Password" placeholder="Password">
                            <span class="icon_lock"></span>
                        </div>
                        <div class="input__item">
                            <input asp-for="Input.ConfirmPassword" placeholder="Confirm Password">
                            <span class="icon_lock"></span>
                        </div>
                        <button type="submit" class="site-btn">Register</button>
                    </form>
                    <h5>Already have an account? <a asp-area="Identity" asp-page="/Account/Login">Log In!</a></h5>
                </div>
            </div>
            <div class="col-lg-6">
                <h4 class="text-white text-center">Hello, welcome to our site.</h4>
                <br />
                <br />
                <h4 class="text-white text-center">In this site you can watch, rate, follow, comment and add animes.</h4>
                <br />
                <br />
                <h4 class="text-white text-center">Enjoy surfing on our website!</h4>
            </div>
        </div>
    </div>
</section>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }}
