<div class="col-lg-4 col-md-6 col-sm-8">
    <div class="product__sidebar">
        <div class="product__sidebar__view">
            <div class="section-title">
                <h5>Top Views</h5>
            </div>
            <div class="filter__gallery">
                @for (int i = 0; i < 5; i++)
                {
                    <div class="product__sidebar__view__item set-bg mix day years"
                         data-setbg='https://static.posters.cz/image/750webp/84239.webp'>
                        <div class="ep">18 / ?</div>
                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        <h5><a href="#">Boruto: Naruto next generations</a></h5>
                    </div>
                }
            </div>
        </div>      
    </div>
</div>
